<!-- Main Footer -->
<footer>
    <div style="text-align: center;">
        <strong>Copyright &copy; 2020-2021 <a href="https://bakangoa.wordpress.com/">GOA Studio</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.0
        </div>
    </div>
</footer>