<%- include("../components/head") -%>


    <div class="wrapper">
        <%- include("../components/header") -%>

        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Dashboard</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3" id="blue_box">
                            <div class="info-box">
                                <span class="info-box-icon bg-info elevation-1" id="blue_icon"><i class="far fa-lightbulb"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Blue LED</span>
                                    <span class="info-box-number" id="blue_state">
                                        <% if(states[0] == 'true'){ %>
                                            ON
                                        <% } %>
                                        <% if(states[0] == 'false'){ %>
                                            OFF
                                        <% } %>
                                    </span>
                                </div>
                            <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3" id="red_box">
                            <div class="info-box mb-3">
                            <span class="info-box-icon bg-danger elevation-1" id="red_icon"><i class="far fa-lightbulb"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Red Led</span>
                                <span class="info-box-number" id="red_state">
                                    <% if(states[0] == 'true'){ %>
                                        ON
                                    <% } %>
                                    <% if(states[0] == 'false'){ %>
                                        OFF
                                    <% } %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->

                        <!-- fix for small devices only -->
                        <div class="clearfix hidden-md-up"></div>

                        <div class="col-12 col-sm-6 col-md-3" id="green_box">
                            <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1" id="green_icon"><i class="far fa-lightbulb"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Green LED</span>
                                <span class="info-box-number" id="green_state">
                                    <% if(states[0] == 'true'){ %>
                                        ON
                                    <% } %>
                                    <% if(states[0] == 'false'){ %>
                                        OFF
                                    <% } %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3" id="yellow_box">
                            <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1" id="yellow_icon"><i class="far fa-lightbulb"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Yellow LED</span>
                                <span class="info-box-number" id="yellow_state">
                                    <% if(states[0] == 'true'){ %>
                                        ON
                                    <% } %>
                                    <% if(states[0] == 'false'){ %>
                                        OFF
                                    <% } %>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">LED using Report</h5>

                            <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="javascript:void" id="daily-stat_button" class="dropdown-item">Daily</a>
                                <a href="javascript:void" id="weekly-stat_button" class="dropdown-item">Weekly</a>
                                <a href="javascript:void" id="monthly-stat_button" class="dropdown-item">Monthly</a>
                                <a class="dropdown-divider"></a>
                                <a href="javascript:void" id="annualy-stat_button" class="dropdown-item">Yearly</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                <strong>Light up: <span id="stat_frequency">Today</span></strong>
                                </p>

                                <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <canvas id="timeGraph" height="180" style="height: 180px;"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <p class="text-center">
                                <strong>LED usage</strong>
                                </p>

                                <div class="progress-group">
                                LED blue
                                <span class="float-right"><b id="blue_time">0</b>/<span class="time_total">0</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" id="blue_progress" style="width: 100%"></div>
                                </div>
                                </div>
                                <!-- /.progress-group -->

                                <div class="progress-group">
                                LED red
                                <span class="float-right"><b id="red_time">0</b>/<span class="time_total">0</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" id="red_progress" style="width: 100%"></div>
                                </div>
                                </div>

                                <!-- /.progress-group -->
                                <div class="progress-group">
                                <span class="progress-text">LED green</span>
                                <span class="float-right"><b id="green_time">0</b>/<span class="time_total">0</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" id="green_progress" style="width: 100%"></div>
                                </div>
                                </div>

                                <!-- /.progress-group -->
                                <div class="progress-group">
                                LED yellow
                                <span class="float-right"><b id="yellow_time">0</b>/<span class="time_total">0</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" id="yellow_progress" style="width: 100%"></div>
                                </div>
                                </div>
                                <!-- /.progress-group -->
                            </div>
                            <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include("../components/footer") -%>
    </div>

<%- include("../components/foot") -%>